server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/habit_hero
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

application:
  name: habithero-backend

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000